# MAIN PROJECT

## PREDICTION OF MOBILE PHONE PRICE

In [1]:
import numpy as np
import pandas as pd

**importing trained and testing dataset**

In [23]:
train=pd.read_csv("train .csv")
test=pd.read_csv("test.csv")

In [24]:
train

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [16]:
train.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20.0,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905.0,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263.0,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216.0,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208.0,1212,1411,8,2,15,1,1,0,1

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [6]:
test

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,1700,1,1.9,0,0,1,54,0.5,170,...,17,644,913,2121,14,8,15,1,1,0
996,997,609,0,1.8,1,0,0,13,0.9,186,...,2,1152,1632,1933,8,1,19,0,1,1
997,998,1185,0,1.4,0,1,1,8,0.5,80,...,12,477,825,1223,5,0,14,1,0,0
998,999,1533,1,0.5,1,0,0,50,0.4,171,...,12,38,832,2509,15,11,6,0,1,0
999,1000,1270,1,0.5,0,4,1,35,0.1,140,...,19,457,608,2828,9,2,3,1,0,1

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1000 non-null   int64
 1   battery_power  1000 non-null   int64
 2   blue           1000 non-null   int64
 3   clock_speed    1000 non-null   float64
 4   dual_sim       1000 non-null   int64
 5   fc             1000 non-null   int64
 6   four_g         1000 non-null   int64
 7   int_memory     1000 non-null   int64
 8   m_dep          1000 non-null   float64
 9   mobile_wt      1000 non-null   int64
 10  n_cores        1000 non-null   int64
 11  pc             1000 non-null   int64
 12  px_height      1000 non-null   int64
 13  px_width       1000 non-null   int64
 14  ram            1000 non-null   int64
 15  sc_h           1000 non-null   int64
 16  sc_w           1000 non-null   int64
 17  talk_time      1000 non-null   int64
 18  three_g        1000 non-null   int64
 19  touch_screen   1000 non-null   int64
 20  wifi           1000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 164.2 KB

In [9]:
test.columns

Index(['id', 'battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc',
       'four_g', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc',
       'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi'],
      dtype='object')

In [10]:
train.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

# DATA PREPROCESSING TRAIN.CSV

In [25]:
train.all()

battery_power     True
blue             False
clock_speed       True
dual_sim         False
fc               False
four_g           False
int_memory        True
m_dep             True
mobile_wt         True
n_cores           True
pc               False
px_height        False
px_width          True
ram               True
sc_h              True
sc_w             False
talk_time         True
three_g          False
touch_screen     False
wifi             False
price_range      False
dtype: bool

**px_height** 


     has an irrelevant data now the data is replaced by it's mean values as follows

In [26]:
print(train['px_height'].all())

False

In [27]:
train['px_height'].replace(0, train['px_height'].mean(), inplace=True)

In [28]:
print(train['px_height'].all())

True

In [30]:
(train.corr()["price_range"]* 100).sort_values(ascending=False)

price_range      100.000000
ram               91.704574
battery_power     20.072261
px_width          16.581750
px_height         14.966627
int_memory         4.443496
sc_w               3.871127
pc                 3.359930
three_g            2.361122
sc_h               2.298607
fc                 2.199821
talk_time          2.185887
blue               2.057285
wifi               1.878481
dual_sim           1.744448
four_g             1.477171
n_cores            0.439927
m_dep              0.085304
clock_speed       -0.660569
mobile_wt         -3.030217
touch_screen      -3.041107
Name: price_range, dtype: float64


    
        dropping the labels which having the low correlation with respect to price prediction

In [31]:
train.drop(labels=['blue', 'dual_sim', 'm_dep', 'mobile_wt','four_g', 'talk_time', 'clock_speed','touch_screen','n_cores'], inplace=True, axis=1)

In [32]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   fc             2000 non-null   int64
 2   int_memory     2000 non-null   int64
 3   pc             2000 non-null   int64
 4   px_height      2000 non-null   float64
 5   px_width       2000 non-null   int64
 6   ram            2000 non-null   int64
 7   sc_h           2000 non-null   int64
 8   sc_w           2000 non-null   int64
 9   three_g        2000 non-null   int64
 10  wifi           2000 non-null   int64
 11  price_range    2000 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 187.6 KB

In [34]:
train.all()

battery_power     True
fc               False
int_memory        True
pc               False
px_height         True
px_width          True
ram               True
sc_h              True
sc_w             False
three_g          False
wifi             False
price_range      False
dtype: bool

**pc,sc_w,three_g,wifi,fc**  


     columns have irrelevant data so, we are modifying the data with it's 
     mean

In [35]:
train['pc'].replace(0, train['pc'].mean(), inplace=True)

In [36]:
train['sc_w'].replace(0, train['sc_w'].mean(), inplace=True)

In [37]:
train['three_g'].replace(0, train['three_g'].mean(), inplace=True)

In [38]:
train['wifi'].replace(0, train['wifi'].mean(), inplace=True)

In [40]:
train['fc'].replace(0, train['fc'].mean(), inplace=True)


      now we can observe that all the data is relevant to each other

In [41]:
train.all()

battery_power     True
fc                True
int_memory        True
pc                True
px_height         True
px_width          True
ram               True
sc_h              True
sc_w              True
three_g           True
wifi              True
price_range      False
dtype: bool

       now considering the traing data without price_range column

In [50]:
x_train=train

In [51]:
x_train.shape

(2000, 11)

In [52]:
x_train.head()

,battery_power,fc,int_memory,pc,px_height,px_width,ram,sc_h,sc_w,three_g,wifi
0,842,1.0000,7,2.0,20.0,756,2549,9,7.0,0.7615,1.000
1,1021,4.3095,53,6.0,905.0,1988,2631,17,3.0,1.0000,0.507
2,563,2.0000,41,6.0,1263.0,1716,2603,11,2.0,1.0000,0.507
3,615,4.3095,10,9.0,1216.0,1786,2769,16,8.0,1.0000,0.507
4,1821,13.0000,44,14.0,1208.0,1212,1411,8,2.0,1.0000,0.507

        now considering the training set of trained data

In [ ]:
y_train = train['price_range']
train.drop(['price_range'], inplace=True, axis=1)

In [47]:
y_train.shape

(2000,)

In [48]:
y_train=pd.DataFrame(y_train)

In [49]:
y_train.head()

   price_range
0            1
1            2
2            2
3            2
4            1

# DATA PREPROCESSING OF TEST.CSV

In [53]:
ids= test['id'] 
test.drop('id', inplace=True, axis=1)

In [54]:
test.all()

battery_power     True
blue             False
clock_speed       True
dual_sim         False
fc               False
four_g           False
int_memory        True
m_dep             True
mobile_wt         True
n_cores           True
pc               False
px_height        False
px_width          True
ram               True
sc_h              True
sc_w             False
talk_time         True
three_g          False
touch_screen     False
wifi             False
dtype: bool

          dropping the labels which having the low correlation with respect to price prediction

In [55]:
test.drop(labels=['blue', 'dual_sim', 'm_dep', 'mobile_wt','four_g', 'talk_time', 'clock_speed','touch_screen','n_cores'], inplace=True, axis=1)

In [56]:
test.shape

(1000, 11)

In [57]:
test.all()

battery_power     True
fc               False
int_memory        True
pc               False
px_height        False
px_width          True
ram               True
sc_h              True
sc_w             False
three_g          False
wifi             False
dtype: bool

**px_height,pc,sc_w,three_g,wifi,fc**

     columns have irrelevant data so, we are modifying the data with it's 
     mean

In [58]:
test['px_height'].replace(0, test['px_height'].mean(), inplace=True)
test['pc'].replace(0, test['pc'].mean(), inplace=True)
test['sc_w'].replace(0, test['sc_w'].mean(), inplace=True)
test['three_g'].replace(0, test['three_g'].mean(), inplace=True)
test['wifi'].replace(0, test['wifi'].mean(), inplace=True)
test['fc'].replace(0, test['fc'].mean(), inplace=True)

In [59]:
test.all()

battery_power    True
fc               True
int_memory       True
pc               True
px_height        True
px_width         True
ram              True
sc_h             True
sc_w             True
three_g          True
wifi             True
dtype: bool

     now considering the testing data

In [60]:
x_test=test

In [61]:
x_test.shape

(1000, 11)

**applying the SVM algorithm**

In [63]:
from sklearn.svm import SVC
classifier=SVC(kernel='linear',random_state=0)
classifier.fit(x_train,y_train['price_range'])

SVC(kernel='linear', random_state=0)

In [70]:
y_predi=classifier.predict(x_test)

In [71]:
y_predi

array([3, 3, 3, 3, 1, 3, 3, 1, 3, 0, 3, 3, 0, 0, 2, 0, 2, 1, 3, 2, 1, 3,
       1, 1, 3, 0, 2, 0, 3, 0, 2, 0, 3, 0, 1, 1, 3, 1, 2, 1, 1, 2, 0, 0,
       0, 1, 0, 3, 1, 2, 1, 0, 3, 0, 3, 1, 3, 1, 1, 3, 3, 3, 0, 1, 1, 1,
       2, 3, 1, 2, 1, 2, 2, 3, 3, 0, 2, 0, 2, 3, 0, 3, 3, 0, 3, 0, 3, 1,
       3, 0, 1, 2, 2, 1, 2, 2, 0, 2, 1, 2, 1, 0, 0, 3, 0, 2, 0, 1, 2, 3,
       3, 3, 1, 3, 3, 3, 3, 2, 3, 0, 0, 3, 2, 1, 2, 0, 3, 2, 3, 2, 0, 2,
       1, 1, 3, 1, 1, 0, 3, 2, 1, 2, 1, 3, 2, 3, 3, 3, 2, 3, 2, 3, 1, 0,
       3, 2, 3, 3, 3, 3, 2, 2, 3, 3, 3, 3, 1, 0, 3, 0, 0, 0, 2, 1, 0, 1,
       0, 0, 1, 2, 1, 0, 0, 1, 1, 2, 2, 1, 0, 0, 0, 1, 0, 3, 1, 0, 2, 2,
       2, 3, 1, 1, 3, 2, 3, 2, 2, 1, 0, 0, 1, 3, 0, 2, 3, 3, 0, 2, 0, 3,
       2, 3, 3, 1, 0, 1, 0, 3, 0, 1, 0, 2, 2, 1, 2, 1, 3, 0, 3, 1, 2, 0,
       0, 2, 1, 3, 3, 3, 1, 1, 3, 0, 0, 2, 3, 3, 1, 3, 1, 1, 3, 2, 1, 2,
       3, 3, 3, 1, 0, 0, 2, 3, 1, 1, 3, 2, 0, 3, 0, 0, 3, 1, 0, 3, 2, 3,
       3, 2, 1, 3, 3, 2, 3, 1, 2, 1, 2, 0, 2, 3, 1, 0, 0, 3, 0, 3, 0, 1,
       2, 0, 2, 3, 1, 3, 2, 2, 1, 2, 0, 0, 0, 1, 3, 2, 0, 0, 0, 3, 2, 0,
       2, 3, 1, 2, 2, 2, 3, 1, 3, 3, 2, 2, 2, 3, 3, 0, 3, 1, 3, 1, 3, 1,
       3, 3, 0, 1, 0, 3, 1, 3, 2, 3, 0, 0, 0, 0, 2, 0, 0, 2, 2, 1, 2, 2,
       2, 0, 1, 0, 0, 3, 2, 0, 3, 1, 2, 2, 1, 2, 3, 1, 1, 2, 2, 1, 2, 0,
       1, 1, 0, 3, 2, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 2, 2, 3, 2, 3, 0, 3,
       0, 3, 0, 1, 1, 0, 2, 0, 3, 2, 3, 3, 1, 3, 1, 3, 1, 3, 2, 0, 1, 2,
       1, 1, 0, 0, 0, 1, 2, 1, 0, 3, 2, 0, 2, 2, 0, 0, 3, 1, 2, 0, 3, 3,
       3, 0, 3, 0, 2, 3, 2, 3, 0, 2, 0, 2, 3, 0, 1, 1, 0, 0, 1, 2, 1, 3,
       3, 3, 2, 3, 1, 2, 2, 3, 3, 3, 2, 0, 2, 1, 2, 2, 1, 0, 2, 2, 0, 0,
       0, 3, 1, 0, 2, 2, 2, 0, 3, 1, 2, 2, 1, 3, 0, 2, 3, 0, 1, 1, 3, 3,
       1, 1, 2, 3, 2, 0, 2, 0, 2, 0, 3, 3, 1, 3, 2, 2, 3, 0, 1, 2, 3, 1,
       3, 2, 3, 1, 1, 0, 0, 3, 1, 0, 3, 2, 3, 2, 0, 3, 3, 3, 2, 3, 3, 1,
       2, 0, 2, 2, 3, 1, 0, 1, 1, 2, 2, 1, 0, 0, 2, 2, 3, 2, 0, 2, 1, 3,
       3, 0, 1, 3, 0, 2, 1, 1, 0, 0, 2, 1, 0, 1, 1, 2, 2, 0, 2, 2, 1, 0,
       3, 0, 0, 3, 2, 0, 0, 0, 0, 0, 3, 0, 3, 1, 3, 2, 1, 3, 2, 0, 1, 0,
       3, 2, 3, 2, 0, 3, 0, 2, 0, 2, 0, 0, 1, 1, 1, 2, 1, 3, 1, 3, 2, 2,
       1, 3, 2, 0, 1, 2, 0, 3, 3, 0, 2, 1, 1, 2, 0, 3, 2, 0, 3, 2, 3, 0,
       0, 3, 0, 2, 2, 3, 2, 2, 2, 2, 1, 2, 3, 0, 1, 0, 1, 2, 2, 0, 0, 1,
       0, 0, 3, 1, 1, 2, 0, 0, 1, 1, 3, 0, 3, 2, 3, 0, 0, 1, 2, 2, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 3, 3, 0, 3, 1, 1, 3, 0, 1, 0, 2, 2, 0, 3, 1,
       0, 3, 0, 1, 0, 3, 3, 3, 2, 3, 0, 3, 2, 0, 0, 0, 3, 3, 2, 0, 2, 1,
       3, 0, 0, 2, 2, 0, 3, 1, 2, 1, 1, 1, 3, 1, 1, 1, 2, 1, 0, 2, 2, 0,
       2, 0, 0, 0, 0, 2, 3, 3, 3, 0, 1, 2, 1, 1, 0, 0, 2, 1, 0, 2, 0, 3,
       2, 2, 1, 2, 0, 2, 1, 3, 0, 0, 3, 2, 3, 0, 0, 2, 3, 3, 1, 3, 2, 1,
       0, 0, 3, 3, 0, 3, 0, 0, 0, 2, 2, 1, 2, 0, 3, 2, 1, 2, 3, 3, 0, 1,
       1, 2, 1, 2, 2, 0, 1, 3, 1, 1, 3, 0, 2, 3, 2, 1, 1, 1, 3, 3, 0, 2,
       3, 0, 2, 3, 3, 2, 2, 3, 2, 0, 1, 2, 1, 2, 1, 1, 2, 2, 2, 1, 2, 1,
       0, 1, 3, 1, 0, 1, 2, 3, 1, 0, 0, 3, 2, 2, 3, 0, 3, 3, 2, 1, 3, 0,
       1, 3, 1, 1, 1, 1, 3, 2, 0, 3, 0, 2, 3, 0, 3, 2, 3, 3, 1, 0, 2, 3,
       1, 0, 2, 1, 2, 1, 2, 0, 2, 2, 0, 2, 3, 2, 3, 0, 2, 1, 1, 2, 2, 3,
       3, 0, 2, 1, 2, 1, 3, 1, 0, 3, 0, 1, 0, 0, 3, 3, 2, 0, 0, 0, 0, 3,
       2, 3, 3, 0, 0, 2, 1, 0, 2, 2], dtype=int64)

In [72]:
y_pred=pd.DataFrame(y_predi)

In [73]:
y_pred

     0
0    3
1    3
2    3
3    3
4    1
..  ..
995  2
996  1
997  0
998  2
999  2

[1000 rows x 1 columns]

     from the above prediction we got the price range as 0,1,2,3 only